* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

body {
    background: #f5f5f5;
    color: #222;
}

header {
    width: 100%;
    padding: 18px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #111;
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #00e676;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #dcdcdc;
    font-size: 15px;
    transition: 0.3s;
}

nav a:hover {
    color: #00e676;
}

.hero {
    width: 100%;
    height: 450px;
    background: url("https://images.unsplash.com/photo-1519703936-c4a3b3eb88e4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") 
    center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

.hero-content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 60px;
    letter-spacing: 3px;
    font-weight: 800;
}

.hero p {
    margin-top: 10px;
    font-size: 18px;
}

.hero button {
    margin-top: 20px;
    padding: 12px 30px;
    font-size: 16px;
    background: #00e676;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: .3s;
    text-decoration: none;
}

.hero button:hover {
    background: #00c167;
}

.eventos {
    text-align: center;
    margin: 60px 0;
}

.eventos h2 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.card {
    width: 260px;
    background: white;
    border-radius: 10px;
    padding-bottom: 25px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
}

.card-img {
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

.trail .card-img {
    background: url("https://www.kitzbuehel.com/fileadmin/_processed_/c/f/csm_Sport_Trailrunning_S%C3%BCdberge_Aurach__c__Kitzb%C3%BChel_Tourismus_-_Thomas_Griesbeck__35__f201f86939.jpg") center/cover no-repeat;
}

.maratona .card-img {
    background: url("https://cdn.atletis.com.br/atletis-website/base/25e/f0d/887/maratonas-brasil.jpg") center/cover no-repeat;
}

.card p {
    padding: 15px;
    font-size: 15px;
    color: #555;
}

.card a {
    padding: 10px 20px;
    background: #111;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
    text-decoration: none;
}

.card a:hover {
    background: #00e676;
    color: #111;
    text-decoration: none;
}

.sobre {
    margin: 80px 0;
    text-align: center;
    padding: 0 40px;
}

.sobre h2 {
    font-size: 30px;
    margin-bottom: 25px;
}

.texto-grande {
    font-size: 22px;
    max-width: 900px;
    margin: auto;
    font-weight: 300;
    color: #444;
    line-height: 1.5;
}



  /* PAGINA DE INSCRIÇÂO */


main {
    background-color: #f5f5f5;
}

.box {
    background: #eefff7;
    width: 420px;
    padding: 32px 28px;
    border-radius: 20px;
    border: 2px solid #000000;
}

/* TÍTULO */
.box h2 {
    text-align: center;
    margin-bottom: 22px;
    color: #000000;
    letter-spacing: 1px;
}

/* LABELS */
.box label {
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
    display: block;
}

/* INPUTS E SELECTS */
.box input,
.box select {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    border-radius: 12px;
    border: 1px solid #044d28;
    outline: none;
    background: #ffffff;
    color: #000000;
}

/* BOTÃO */
.box .button {
    width: 100%;
    padding: 14px;
    background: linear-gradient(90deg, #00ff84, #0ea5e9);
    border: none;
    border-radius: 14px;
    color: #021a0d;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.3s;
}

.box .button:hover {
    transform: scale(1.05);
}

.wrapper {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 40px;
}

/* botao pesqu*/


.input-group input {
    flex: 1; /* Faz o input ocupar o espaço maior */
}

.btnExcluir {
    padding: 8px 16px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnBuscar {
    padding: 8px 16px;
    background-color: #1f6feb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnCancelar {
    padding: 8px 16px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* lista competidor*/


.lista-competidores {
    margin-top: 30px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.lista-competidores table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.lista-competidores th, 
.lista-competidores td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.lista-competidores th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.btnEditar, .btnExcluir, .btnCancelar {
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btnEditar {
    background-color: #3498db;
    color: white;
}

.btnExcluir {
    background-color: #e74c3c;
    color: white;
}

.btnCancelar {
    background-color: #e74c3c;
    color: white;
}